* {
  box-sizing: border-box;
}
// sticky footer start
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
// sticky footer end

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: $grey;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__big {
  max-width: 1746px;
  margin: 0 auto;
  // padding: 0 15px;
}

.main__btn{


  a{
    background-color: $yellow;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-radius: 33.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 219px;

  }

}

.section__title{
  font-size: 33px;
  font-weight: 400;
  color: $blue_h;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.section__text{
  max-width: 672px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  margin:0 auto 70px auto;

}
#toTop {
  width:100px;
  border:1px solid #ccc;
  background:#f7f7f7;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:10px; /* отступ кнопки от нижнего края страницы*/
  right:10px;
  cursor:pointer;
  display:none;
  color:#333;
  font-family:verdana;
  font-size:11px;
  }