@import "vars";
@import "libs";
@import "fonts";
@import "global";

/* Start header */
.header {
  
  &__top {
    background-color: #ecf6fe;

    &-wrapper {
      display: flex;
      justify-content: space-between;

    }
    &-block {
      z-index: 3;
    }
    &-info {
      color: $blue_l;
      font-size: 15px;
      line-height: 35px;
 
      span {
        text-transform: uppercase;
      }
      a {
        font-weight: 500;
      }
    }
    &-social {
      li {
        display: inline-block;
        & + li {
          margin-left: 15px;
        }
      }
      a {
        font-size: 15px;
        line-height: 35px;
        color: $blue_l;
      }
    }
  }
}
.header__content-main-wrapper {
  background-color: #f2f9ff;
  background-image: url(../img/content/header__bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 95vh;
 
}
.header__nav {
  padding-top: 65px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  &-logo {
    z-index: 2;
  }
  &-menu,
  .footer__nav-menu {
    display: flex;
    align-items: center;
    transition: all .5s;
    &-list {
      li {
        display: inline-block;
        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        font-size: 16px;
        font-weight: 400;
        color: $blue_l;
        line-height: 30px;
        &:hover {
          border-bottom: 2px solid $blue_l;
        }
      }
    }
    &.active{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      position: absolute;
      top: 0px;
      background-color: rgba(#ecf6fe, 1);
      width: 100%;
      height: 100vh;  
      padding-top: 40px;
      margin-left: -15px;
      transition: all .5s;
      .header__nav-menu-list{
        display: flex;
        flex-direction: column;
        a{
          font-size: 40px;
          margin-bottom: 30px;
        }
      }
      .header__nav-menu-list li {
        margin-right: 0px; 
    }
    .header__nav-btn .header__btn {
      margin-left: 0px;
  }
    }
  }
  &-btn {
    .header__btn {
      font-size: 16px;
      font-weight: 400;
      border-radius: 21.5px;
      background-color: $yellow;
      padding: 10px 15px;
      margin-left: 65px;
    }
  }
}
.burger__menu {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
  margin-right: 15px;
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
    top: 0;
    transition: all .5s;
  }
  span {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
    top: 12px;
    transition: all .5s;
  }
  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
    top: 24px;
    transition: all .5s;
  }
  &.active{
    &::before{
      transform: rotate(-45deg);
      top: 17px;
      background-color: $blue_l;
    }
    span{
      transform: scale(0);
    }
    &::after{
      transform: rotate(45deg);
      top: 17px;
      background-color: $blue_l;
    }
  }
}

.header__content {
  &-wrapper {
  }
  &-block {
    max-width: 730px;
    height: 85vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  &-subtitle {
    font-size: 33px;
    color: $blue_l;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &-title {
    font-size: 68px;
    color: $blue_h;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  &-text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 55px;
  }
}
/* End header */

/* Start Type section */
.type {
  &__wrapper {
    display: flex;
  }
  &__item-left {
    position: relative;
    padding-right: 70px;
    &::after {
      content: "";
      height: 870px;
      width: 1px;
      background-color: #d8d8de;
      right: 0;
      top: 110px;
      position: absolute;
    }
  }
  &__item-right {
    padding-left: 70px;
  }
  &__item {
    max-width: 585px;
    padding-top: 55px;

    &-title {
      font-size: 33px;
      font-weight: 400;
      text-transform: uppercase;
      color: $blue_l;
      text-align: center;
      margin-bottom: 15px;
    }
    &-subtitle {
      font-size: 20px;
      color: $grey;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 65px;
    }
    &-img {
      background-color: rgb(196, 196, 196);
      width: 515px;
      height: 363px;
      margin-bottom: 65px;
    }
    &-img-right {
      border-top-right-radius: 150px;
      border-bottom-left-radius: 150px;
    }
    &-img-left {
      border-top-left-radius: 150px;
      border-bottom-right-radius: 150px;
    }
    &-text {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 55px;
    }
    &-content {
      max-width: 514px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 45px;
    }
    &-list {
      li {
        font-size: 20px;
        line-height: 35px;
        color: $blue_l;
        list-style: circle;
      }
    }
    &-btn {
      display: flex;
      justify-content: center;
    }
  }
}

/* End Type section */

/* Start section Like */

.like {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 110px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d8d8de;
    top: 45%;
  }
  &__wrapper {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 68px 0px rgba(179, 179, 179, 0.15);
    width: 213px;
    height: 213px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 59px;
      height: 68px;
    }
  }
}

/* End section Like */

/* Strat choose section */
.choose {
  padding-bottom: 220px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 265px;
    text-align: center;
    & + & {
      margin-left: 30px;
    }
  }
  &__img {
    margin-bottom: 45px;
    img {
    }
  }
  &__title {
    font-size: 28px;
    font-weight: 400;
    color: $blue_h;
    position: relative;
    padding: 0 5px 20px 5px;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 125px;
      background-color: $yellow;
      bottom: 0;
      left: 72px;
    }
  }
  &__text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 32px;
    color: $grey;
    padding: 0 5px;
  }
}

/* End  choose section */

/* Start reviews section */
.reviews {
  &__slider {
  }
  &__item {
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    align-items: center;
    padding-bottom: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-color: rgba(255, 255, 255, 0.65);
      width: 100%;
      height: 100%;
      bottom: 0;
      top: 0;
    }

    &-title {
      font-size: 33px;
      font-weight: 400;
      color: $blue_h;
      text-transform: uppercase;
      padding-top: 80px;
      text-align: center;
      margin-bottom: 55px;
      z-index: 1;
    }
    &-text {
      max-width: 720px;
      padding: 0 20px 15px 20px;
      text-align: center;
      font-size: 20px;
      line-height: 35px;
      color: $grey;
      margin-bottom: 30px;
      z-index: 1;
    }
    &-img {
      width: 139px;
      height: 139px;
      margin-bottom: 45px;
      z-index: 1;

      img {
        border-radius: 50%;
        display: block;
        width: 139px;
        height: 139px;
      }
    }
    &-name {
      font-size: 19px;
      line-height: 23px;
      font-weight: 400;
      color: #f7b74d;
      text-align: center;
      z-index: 1;
    }
    &-locate {
      font-size: 16px;
      line-height: 23px;
      font-weight: 400;
      text-align: center;
      z-index: 1;
    }
  }
}

/* End reviews section */

/* Start pricing section */
.pricing {
  padding: 220px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 340px;
    width: 100%;
    border-width: 0.5px;
    border-color: rgb(235, 235, 235);
    border-style: solid;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 68px 0px rgba(179, 179, 179, 0.15);
    padding-top: 25px;
    padding-bottom: 20px;

    &-title {
      font-size: 26px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 25px;
      border-bottom: 0.5px solid rgb(235, 235, 235);
      margin-bottom: 23px;
    }
    &-price {
      font-size: 24px;
      font-weight: 400;
      display: flex;
      justify-content: center;

      span {
        font-size: 119px;
        font-weight: 700;
        color: $blue_l;
        padding-left: 12px;
        padding-right: 22px;
      }
    }
    &-price-per {
      border-bottom: 0.5px solid rgb(235, 235, 235);
      font-size: 16px;
      text-align: center;
      padding: 0 30px 25px 0;
    }
    &-content {
      text-align: center;
      margin: 25px 0;
    }
    &-list {
      font-size: 17px;
      line-height: 35px;
      font-weight: 400;
      span {
        color: $blue_l;
      }
    }
  }
}
.pricing__item-btn {
  display: flex;
  justify-content: center;
}

/* End pricing section */

/* Start discount section */

.discount {
  &__wrapper {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  &__discount {
    position: relative;
    font-size: 44px;
    line-height: 38px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    top: -15px;
    padding: 30px 20px 50px 20px;
    background-image: url(../img/content/discount__lable.png);
    background-size: 120px 151px;
    background-repeat: no-repeat;
    background-position: top center;
  }
  &__content {
    padding-top: 85px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 68px;
    font-weight: 600;
    color: $blue_h;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  &__text {
    max-width: 672px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    padding-bottom: 28px;
    margin-bottom: 30px;
  }
  &__btn {
  }
}
/* End discount section */

/* Start news section */
.news {
  padding: 220px 0 185px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    max-width: 375px;
    width: 100%;
    &-img {
      width: 375px;
      margin-bottom: 60px;
      img {
        width: 375px;
        display: block;
      }
    }
    &-title {
      font-size: 26px;
      color: $blue_h;
      margin-bottom: 35px;
      padding-right: 15px;
    }
    &-text {
      font-size: 20px;
      line-height: 35px;
      padding-bottom: 25px;
      margin-bottom: 20px;
      padding-right: 15px;
    }
    &-link {
      a {
        font-size: 12px;
        line-height: 35px;
        color: $blue_l;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
}

/* End news section */

/* Start section footer menu */
.footer__menu-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 83px;
}
/* End section footer menu */
/* Start footer section */
.footer {
  &__top {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 35px;
      border-bottom: 0.5px solid rgb(235, 235, 235);
      margin-bottom: 50px;
    }
  }
  &__logo {
    width: 231px;
    height: 80px;
    margin-bottom: 40px;
    img {
    }
    &-btn {
    }
  }
  &__contact {
    &-title {
      font-size: 20px;
      line-height: 35px;
      font-weight: 400;
    }
    &-phone {
      font-size: 20px;
      line-height: 35px;
    }
    &-adress {
      font-size: 20px;
      line-height: 35px;
      span {
        display: block;
      }
    }
    &-link {
      font-size: 14px;
      line-height: 35px;
      color: $blue_l;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
  &__social {
    &-title {
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
    }
    &-form {
      margin-bottom: 20px;
      position: relative;
      input {
        width: 370px;
        height: 50px;
        font-size: 16px;
        padding: 0px 80px 0px 30px;
      }
      button {
        position: absolute;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        color: $grey;
        height: 50px;
        right: 20px;
        cursor: pointer;
      }
    }
    &-icons {
      li {
        display: inline-block;
        margin-right: 33px;
      }
      a {
        font-size: 25px;
      }
    }
  }
  &__medium {
    &-wrapper {
      text-align: center;
      font-size: 12px;
      margin-bottom: 50px;
    }
  }
  &__copy {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }
}

/* End footer section */

@import "media";
